{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <p>
               <img src="{% static 'images/epijam.png' %}"> 
            </p>
            <h2>{{ card.bundle.label }}</h2>
            {% if not card.used %}
            <p>To redeem your download, please enter your email below.</p>
            <div class="card">
                <div class="card-body">
                    <form action="/card/{{ card.pk }}/" method="POST">
                        <p>
                           {{ form.email }} 
                        </p>
                        <p>
                           <input type="submit" value="Get Download" class="btn btn-lg btn-primary"> 
                        </p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            {% else %}
            <p class="text-muted">This download card has already been redeemed.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}